.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  width: 270px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 88px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 45px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 603px;
  background-image: url("images/IMG_45072.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-text-2 {
    width: 681px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-1 .u-image-1 {
    min-height: 497px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 170px;
  }

  .u-section-1 .u-image-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 857px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 255px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 255px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 255px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 161px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 161px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 161px;
  }
}